# Dependency directories
node_modules
bower_components

# test libraries that should be fetched by bower
test/lib
otrtc_*.pid
resultsRest.txt
screen-sharing-extension-chrome/*.zip
ignored/**
web/css
!web/css/annotation.css
!web/css/easy-autocomplete.min.css

web/js/components/draggable.js
web/js/components/htmlElems.js
web/js/helpers/navigator
web/js/helpers/OTHelper.js
web/js/helpers/requests.js
web/js/helpers/textProcessor.js
web/js/libs/browser_utils.js
web/js/libs/ie_polyfills.js
web/js/vendor/ejs_production.js
web/js/vendor/es6-promise.min.js
web/js/vendor/lazy_loader.js
web/js/vendor/moment.min.js
web/js/vendor/clipboard.min.js

# Coverage report files
coverage/**

